<div class="container">
    <h2>Editar empleado</h2>

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card-body">

                <form [formGroup]="EditarequipoForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="nombre">Nombre del empleado</label>
                        <input type="text" class="form-control" formControlName="nombre" />

                        <!-- Mensaje de error de validación -->
                        <div style="color: red;" *ngIf="enviado && EditarequipoForm.get('nombre').errors?.['required']">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="categoria">Categoría</label>
                        <select class="custom-select form-control" (change)="actualizarEquipo($event.target.value)" formControlName="categoria">
                            <option value="">SELECCIONA UNA Categoría</option>
                            <option *ngFor="let categoria of categoriaEquipo" [value]="categoria">{{ categoria }}</option>
                        </select>

                        <!-- Mensaje de error de validación -->
                        <div style="color: red;" *ngIf="enviado && EditarequipoForm.get('categoria').errors?.['required']">
                            Debes seleccionar un categoria
                        </div>
                    </div>

                    <br>

                    <div class="form-group">
                        <label for="pais">País</label>
                        <input type="text" class="form-control" formControlName="pais" />

                        <!-- Mensaje de error de validación -->
                        <div style="color: red;" *ngIf="enviado && EditarequipoForm.get('pais').errors?.['required']">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="miembros">Nombre de los miembros</label>
                        <input type="text" class="form-control" formControlName="miembros" />

                        <!-- Mensaje de error de validación -->
                        <div style="color: red;" *ngIf="enviado && EditarequipoForm.get('miembros').errors?.['required']">
                            Este campo es obligatorio
                        </div>
                    </div>

                    <br>

                    <div class="form-group">
                        <button class="btn btn-success btn-lg btn-block" type="submit">Actualizar empleado</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
