<div class="container">
  <h2>Agregar equipo</h2>

  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card-body">
        <form [formGroup]="equipoForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="nombre">Nombre del equipo</label>
            <input type="text" class="form-control" formControlName="nombre" id="nombre" />
            <div style="color: red;" *ngIf="enviado && myForm.nombre.errors?.required">
              Este campo es obligatorio
            </div>
          </div>

          <div class="form-group">
            <label for="categoria">Categoría</label>
            <select class="custom-select form-control" formControlName="categoria" id="categoria">
              <option value="">SELECCIONA UNA categoría:</option>
              <option *ngFor="let categoria of categoriaEquipo" [value]="categoria">
                {{ categoria }}
              </option>
            </select>
            <div style="color: red;" *ngIf="enviado && myForm.categoria.errors?.required">
              Debes seleccionar una categoría
            </div>
          </div>

          <div class="form-group">
            <label for="pais">País</label>
            <input type="text" class="form-control" formControlName="pais" id="pais" />
            <div style="color: red;" *ngIf="enviado && myForm.pais.errors?.required">
              Este campo es obligatorio
            </div>
          </div>

          <div class="form-group">
            <label for="miembros">Miembros</label>
            <input type="text" class="form-control" formControlName="miembros" id="miembros" />
            <div style="color: red;" *ngIf="enviado && myForm.miembros.errors?.required">
              Este campo es obligatorio
            </div>
          </div>

          <div class="form-group">
            <button class="btn btn-success btn-lg btn-block" type="submit">Agregar equipo</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
