<nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
  <a class="navbar-brand">Equipos</a>
  <div id="navbarNav" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/listar-equipos" routerLinkActive="active">
          Ver equipos
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/agregar-equipo" routerLinkActive="active">
          Agregar equipo
        </a>
      </li>
    </ul>
  </div>
  
</nav>

<router-outlet></router-outlet>